body {
    background-image: url(intro.jp);
    font-family: "Comfortaa", sans-serif;
    color: #fff;
  }
  
  .main-content {
    max-width: 700px;
    margin: 8em auto 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  h1 {
    width: 100%;
    margin: 0 auto 1.5em;
    font-size: 30px;
    text-align: center;
    color: #0c0c0c;
    font-weight: 700;
  }
  container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 50px;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0 60px;
}

.cards .card{
    position: relative;
    width: 300px;
    height: 300px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -10px -10px 15px rgba(233, 249, 255, 0.9),
    10px 10px 20px rgba(237, 248, 250, 0.9);
    transition: all 0.5s ease;
    
}

.cards .card:hover{
    border-radius: 51% 49% 65% 35% / 65% 61% 39% 35% ;
}

.cards .card::before{
    position: absolute;
    content: '';
    background: transparent;
    width: 30px;
    height: 30px;
    top: 15%;
    left: 25%;
    box-shadow: rgb(204, 219, 232) 2px 2px 2px 0px inset,
    rgba(255, 255, 255, 0.5) -2px -2px 3px 1px inset,
    rgb(204, 219, 232) 2px 2px 2px 0px;
    border-radius: 50%;
    opacity: 0.9;
}

.cards .card::after{
    position: absolute;
    content: '';
    background: transparent;
    width: 15px;
    height: 15px;
    top: 25%;
    left: 32%;
    box-shadow: rgb(204, 219, 232) 2px 2px 2px 0px inset,
    rgba(255, 255, 255, 0.5) -2px -2px 3px 1px inset,
    rgb(204, 219, 232) 2px 2px 2px 0px;
    border-radius: 50%;
    opacity: 0.8;
}


.card:nth-child(1){
    border-radius: 53% 47% 37% 63% / 41% 41% 59% 59%  ;
}

.card:nth-child(2){
    border-radius: 71% 29% 37% 63% / 41% 51% 49% 59% ;
}

.cards .card .card__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.cards .card-1 .card__content h2{
    margin-top: 2.5rem;
    color: #fb6f92;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 0 3.36px 1.896px #c4b59d,0 -2px 1px #fff;
}

.cards .card-1 .card__content span{
    position: absolute;
    color: #fb6f92;
    top: 10%;
    left: 65%;
    font-size: 4rem;
    pointer-events: none;
    font-weight: 800;
    opacity: 0.5;
}

.cards .card-1 .card__content p{
    font-size: 1.4rem;
    width: 200px;
    color: #707070;
}

.cards .card-1 .card__content button{
    padding: 0.5rem 0.8rem;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #fb6f92;
    color: #fb6f92;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.4s ease;
}
  h1 small {
    text-transform: none;
    display: block;
    margin: 20px 0;
    font: 400 20px "Comfortaa", sans-serif;
    color: #0e0e0e;
  }
  
  .line,
  .box {
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .line {
    height: 8px;
    width: 45px;
    background: #e63946;
    margin: 5px auto;
  }
  
  .box {
    width: 10px;
    height: 10px;
    background: #e63946;
    margin: 3px 3px;
    display: inline-block;
  }
  
  .circle {
    width: 12px;
    height: 12px;
    margin: 3px;
    background: #e63946;
    border-radius: 50%;
    display: block;
  }
  
  .menu__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .menu__wrapper > div {
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .menu__wrapper > div:hover, 
  .menu__wrapper > div:focus {
    outline: none;
  }
  .menu__wrapper > span {
    display: inline-block;
    text-align: center;
    line-height: 1.2;
    padding: 20px;
    margin-top: auto;
    color: #0d0d0d;
  }
  
  .menu__item--Aniket:hover .line:nth-child(1), 
  .menu__item--Aniket:focus .line:nth-child(1) {
    transform: rotate(45deg) translate(12px, 12px);
  }
  .menu__item--Aniket:hover .line:nth-child(2), 
  .menu__item--Aniket:focus .line:nth-child(2) {
    visibility: hidden;
  }
  .menu__item--Aniket:hover .line:nth-child(3), 
  .menu__item--Aniket:focus .line:nth-child(3) {
    transform: rotate(-45deg) translate(15px, -16px);
  }
  
  .menu__item--Arpit {
    flex-direction: column;
  }
  .menu__item--Arpit .line:nth-child(2) {
    width: 32px;
  }
  .menu__item--Arpit .line:nth-child(3) {
    width: 20px;
  }
  .menu__item--Arpit:hover .line:nth-child(1),
  .menu__item--Arpit:focus .line:nth-child(1) {
    transform: rotate(45deg) translate(12px, 12px);
  }
  .menu__item--Arpit:hover .line:nth-child(2),
  .menu__item--Arpit:focus .line:nth-child(2) {
    width: 20px;
    transform: rotate(-45deg) translate(-12px, -1.5px);
  }
  .menu__item--Arpit:hover .line:nth-child(3), 
  .menu__item--Arpit:focus .line:nth-child(3) {
    transform: rotate(-45deg) translate(25px, -14px);
  }
  
  .menu__item--Abhijeet:hover .box:nth-child(2),
  .menu__item--Abhijeet:hover .box:nth-child(4),
  .menu__item--Abhijeet:hover .box:nth-child(6),
  .menu__item--Abhijeet:hover .box:nth-child(8), 
  .menu__item--Abhijeet:focus .box:nth-child(2),
  .menu__item--Abhijeet:focus .box:nth-child(4),
  .menu__item--Abhijeet:focus .box:nth-child(6),
  .menu__item--Abhijeet:focus .box:nth-child(8) {
    opacity: 0;
  }
  
  .menu__item--Ayush {
    flex-direction: column;
    position: relative;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .menu__item--Ayush .circle:nth-child(4),
  .menu__item--Ayush .circle:nth-child(5) {
    position: absolute;
    opacity: 0;
    top: 50%;
    margin-top: -6px;
    left: 50%;
  }
  .menu__item--Ayush .circle:nth-child(4) {
    margin-left: -25px;
  }
  .menu__item--Ayush .circle:nth-child(5) {
    margin-left: 13px;
  }
  .menu__item--Ayush:hover, 
  .menu__item--Ayush:focus {
    transform: rotate(45deg);
  }
  .menu__item--Ayush:hover .circle, 
  .menu__item--Ayush:focus .circle {
    opacity: 1;
  }
  
  .menu__item--meatball {
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .menu__item--meatball:hover, .menu__item--meatball:focus {
    transform: rotate(45deg);
  }
  
  